* {
    margin: 0;
    padding: 0;
}

body {
    background: #eaebeb;
}

em {
    font-style: normal;
    padding-right: 10%;
}

@font-face {
    font-family: 'Varela';
    src: url(../pic/fonts/VarelaRound-Regular.ttf);
    font-family: 'Anton';
    src: url(../pic/fonts/Anton-Regular.ttf);
}

.left {
    float: left;
}

.right {
    float: right;
}

.leftcontent {
    margin-top: 88px;
    margin-left: 49px;
    margin-right: 209px;
    width: 275px;
    height: 522px;
}

.leftcontent a {
    font-size: 26px;
    line-height: 54px;
    color: black;
    font-family: Varela;
}

.leftcontent a:hover {
    color: cornsilk;
}

.leftcontent a:visited {
    color: #c30d23
}

.leftcontent-bt {
    width: 250px;
    height: 70px;
    margin-top: 318px;
}

.leftcontent-bt h3 {
    line-height: 70px;
}

.long {
    width: 10px;
    height: 400px;
    background: black;
    margin-top: 184px;
    margin-right: 90px;
}

.rightcontent {
    width: 700px;
    height: 634px;
    position: relative;
    left: 628px;
    top: 48px;
}

.rightcontent img {
    width: 500px;
    height: 632px;
    position: absolute;
    left: 13%;
    right: 0;
    top: 0;
}
.rightcontent em{
    font-size: 150px;
    position: absolute;
    top: 245px;
   left: 50%;
    font-family:Anton ;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    line-height: 110pt;
}