body{
background: url("./pic/.jpg ");
}

.main{ 
width: 100%;
margin: 0 auto;
padding: 10pt;
}

.fl{
float: left;
}
.nav {
	width: 100%;
	height: 40px;
	background: rgba(0, 0, 0, 0.8);
}

.name-detail{
color: #255;
margin-left: 80px;
}

.name-detail p span{
width:100px;
display:inline-block;
}

.robot-detail{
color: #255;
margin-left: 20px;
}

.tableClass{
width: 100%;   
color: #255;
}

.firstTr{
	border: 1px solid #255;
text-align: center;	
color: white;
background-color:rgba(96,96,96,0.3);
vertical-align: middle;
padding: 5px;
}

table tr td{
border: 1px solid #255;
line-height: 35px;
text-align: center;
vertical-align: middle;
}

table tr th{

line-height: 50px;
text-align: center;
vertical-align: middle;
}

table{
border-collapse: collapse;
}

table tr{
display: table-row;
vertical-align: inherit;
}

.bottom-box ul li{
width: 19%; 
display: inline-block;
list-style: none;
text-align: center;
color: #255;
}

.textloc1{
color: black;
font-size: 15pt;
padding-left:20%;
}

.textloc2{
color: black;
font-size: 15pt;
padding-left: 25%;
}

.textloc3{
color: black;
font-size: 15pt;
padding-left: 5%;
}

.textloc4{
color: black;
font-size: 15pt;
padding-left: 5%;
}

